body {
	font-family: 'Roboto', sans-serif;
	color:#444;
}
.border-bottom {
    border-bottom: 1px dotted #dee2e6!important;
}
.border-top {
    border-top: 1px dotted #dee2e6!important;
}
.smaller-20 { font-size: 80% }